:root {
    --title-color: #212121;
    --text-color: #757575;
    --accent-color: #2196F3;
    --btn-color: #FFFFFF;
    --logo-color: #000000;
}
body {
    font-family: "Roboto", sans-serif ;
}

.list {
    list-style: none;
}
.link {
    text-decoration: none;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}






/*-----------------HEADER---------------*/


.header {
    padding-top: 24px;
    padding-bottom: 24px;

}

.header-container {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    margin-right: 93px;
}

.header-logo {
    color: var(--logo-color);
}

.header-nav-list {
    display: flex;
    
}

.header-nav-item:not(:last-child) {
    margin-right: 50px;
}

.header-nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-color);
}

.header-nav-link:hover,
.header-nav-link:focus {
    color: var(--accent-color);
}

.contacts-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.contacts-list {
    display: flex;
    margin-left: auto;
}

.contacts-list-mail {
    margin-right: 50px;
}

.contacts-link:hover,
.contacts-link:focus {
    color: var(--accent-color);
}


/*-----------------BANNERS---------------*/

.banners {
    background-color: #2F303A;
    padding: 200px 0;
}

.banners-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--btn-color);
    margin-bottom: 30px;
    max-width: 696px;
    margin: auto
}

.banners-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--btn-color);
    cursor: pointer;
    min-width: 200px;
    min-height: 50px;
    margin-left: 485px;
    margin-right: 485px;
    margin-top: 30px;
    padding: 0;
    border: 0;
}

.banners-btn {
    background-color: var(--accent-color);
}

/*-----------------ADVANTAGES---------------*/

.advantages {
    padding-top: 94px;
    padding-bottom: 86px;
}

.advantages-list {
    display: flex;
}

.advantages-item {
    width: 270px;
}

.advantages-item:not(:last-child) {
    margin-right: 30px;
}

.advantages-item-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-color);
    margin-bottom: 10px;
}

.advantages-item-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

/*-----------------PRACTICE---------------*/

.practice {
    padding-bottom: 94px;
}



.practice-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
    margin-bottom: 50px;
}

.practice-list {
    display: flex;
}

.practice-item:not(:last-child) {
    margin-right: 30px;
}

/*-----------------TEAM---------------*/

.team {
    padding-top: 94px;
    padding-bottom: 39px;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
    margin-bottom: 105px;
}

.team-list {
    display: flex;
}

.team-item :not(:last-child) {
    margin-right: 30px;
}

.img-title {
    margin-bottom: 30px;
}

.team-item-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
    margin-bottom: 10px;
}

.team-text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
    margin-right: 30px;
}

/*-----------------FOOTER---------------*/

.footer {
    background-color: #2F303A;
    padding: 60px 0;
}

.address {
    font-style: normal;
    margin-top: 20px;
}

.footer-logo {
    color: var(--btn-color);
}

.address-link-map {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--btn-color);
}

.address-link-map:hover,
.address-link-map:focus {
    color: var(--accent-color);
}

.address-link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

.address-link:hover,
.address-link:focus {
    color: var(--accent-color);
}

.address-list {
    margin-bottom: 60px;
}

/*-------------------PORTFOLIO-----------------*/

/*-------------------FILTER-----------------*/

.filter-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color) ;
    cursor: pointer;
}

.filter-list {
    display: flex;
    margin-right: 279px;
    margin-left: 280px;
}

.filter-item:not(:last-child){
    margin-right: 8px;
}

.filter-btn {
    padding-bottom: 16px;
}

.filter-btn:hover,
.filter-btn:focus {
    color: var(--btn-color);
    background-color: var(--accent-color);
}

/*-------------------SERVICES-----------------*/

.services {
    padding: 94px 0;
}

.services-list {
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc(( 100% - 90px ) / 3);
    padding-top: 34px;
}

.services-item:nth-child( 3n + 3 ) {
    margin-right: 0px;
}

.services-item:nth-last-child(-n + 3) {
    margin-bottom: 0;
}

.services-item {
    margin-right: 30px;
    margin-bottom: 30px;
}

.services-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    color: var(--title-color);
    margin: 20px 0 4px;
}

.services-text {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--text-color);
    margin-bottom: 20px;
}


